---
import Layout from '../layouts/Layout.astro';
const pageTitle = "About ~ haval0 website";
---
<Layout pageTitle={pageTitle}>
	<h1>We is gaming, but why?</h1>
  <h2>About me</h2>
  <p>There once was a guy. He was no ordinary guy, as they never are, but this guy was especially not ordinary. One thing that was unique about this guy was that he really loved to make money for corporations.</p>
  <p>He would think deeply about business cases and dream about his ceo at night, all while developing elegant technical solutions in seamless collaboration with his peers. He liked to think big, but he could also be practical. You might call him the perfect man. Many in fact did call him that.</p>
  <p>Throughout his long career, starting in the 2020s, he was employed by so many corporations and they all benefited so fantastically from his contributions.</p>

  <h2>Why isn't this site self-hosted yet? Cringe</h2>
	<p>I agree that is a bit cringe.</p>
	<p>The situation I have found myself in is such that I did not have the mental surplus ready to think up yet another domain name, nor the economic inclination to expend yet another 11 or so American dollarinos.</p>
	<p>All my currently owned websites/domains are not well suited for personal use of this kind.</p>
</Layout>
