---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Blog ~ haval0 website";
---
<Layout pageTitle={pageTitle}>
	<h1>My Blog Posts</h1>
	<a href="/posts/servo/">Browser Developer for a Day</a>
</Layout>
