---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Blog ~ haval0 website";
---
<Layout pageTitle={pageTitle}>
	<h1>I have things to write</h1>
	<p>I will write an article about my student app project for my student union at my student university.</p>
	<a href="/posts/servo/">Browser Developer for a Day</a>
</Layout>
