---
import Layout from '../layouts/Layout.astro';
import { EMAIL } from '../consts.ts';
const pageTitle = "haval0 website";
---
<Layout pageTitle={pageTitle}>
	<div class="grid-container">
		<div>
			<h2>Welcome!</h2>
			<p>I am a CS Masters student at KTH in Stockholm. My interests range from web development, to graphics and games, to almost anything else. Check out my <a href="/projects">projects</a> and shoot me an <a href={`mailto:${EMAIL}`}>email</a>.</p>
		</div>
		<div>
			<h2>My Blog</h2>
			<p>On <a href="/blog">my blog</a> you'll find some articles about what I'm up to. Projects, both big and small.</p>
			<p>For example, I recently wrote about my bug fix for the layout engine of the Servo browser project.</p>
		</div>
	</div>
</Layout>
